<a href="https://colab.research.google.com/github/MyrtooS/datamining/blob/main/%CE%91%CE%BD%CF%84%CE%AF%CE%B3%CF%81%CE%B1%CF%86%CE%BF_datamining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelBinarizer
from sklearn import datasets
from sklearn import preprocessing
from scipy.stats import pearsonr

#from google.colab import files
#uploaded = files.upload()

In [2]:
from google.colab import drive
drive.mount('/content/drive')
folder='/content/drive/My Drive/Data_Mining'
!ls '/content/drive/My Drive/Data_Mining'

Mounted at /content/drive
 datamining.ipynb	     listings_july.csv
'listings (1).gsheet'	     listings_july.gsheet
'listings (2).gsheet'	     listings_june.csv
'listings_july (1).gsheet'  'Untitled spreadsheet.gsheet'

In [3]:
df = pd.read_csv(folder+'/listings_june.csv')
df1 = pd.read_csv(folder+'/listings_july.csv')

In [4]:
to_drop = ['host_name','host_id','name','id','neighbourhood_group','last_review']

In [5]:
df.drop(to_drop, inplace=True, axis=1)

In [6]:
df1.drop(to_drop, inplace=True, axis=1)

In [7]:
#converts categorical "room_type" to nominal values 0,1,2,3
from sklearn.preprocessing import LabelEncoder
gle = LabelEncoder()
room_labels = gle.fit_transform(df['room_type'])
room_mappings = {index: label for index, label in 
                  enumerate(gle.classes_)}
room_mappings
df['Room_Type_Label'] = room_labels

In [8]:
room_labels = gle.fit_transform(df1['room_type'])
room_mappings = {index: label for index, label in 
                  enumerate(gle.classes_)}
room_mappings
df1['Room_Type_Label'] = room_labels

In [9]:
for col in df.columns: #how many % has empty values
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

neighbourhood - 0%
latitude - 0%
longitude - 0%
room_type - 0%
price - 0%
minimum_nights - 0%
number_of_reviews - 0%
reviews_per_month - 24%
calculated_host_listings_count - 0%
availability_365 - 0%
Room_Type_Label - 0%

In [10]:
mean_review = int(df['reviews_per_month'].mean())
mean_review
df['reviews_per_month'] = df['reviews_per_month'].fillna(mean_review)

In [11]:
df1['reviews_per_month'] = df1['reviews_per_month'].fillna(mean_review)

In [12]:
df['cost_per_stay'] = df['price'] * df['minimum_nights'] #extra value how much it costs to stay
# df.to_csv('listings.csv')

In [13]:
df1['cost_per_stay'] = df1['price'] * df1['minimum_nights'] #extra value how much it costs to stay
# df1.to_csv('listings2.csv')

In [14]:
#one-hot encoding for room type
# y= LabelBinarizer().fit_transform(df.room_type)
# y = pd.DataFrame({'Entire home/apt': y[:, 0], 'Hotel room': y[0, 1], 'Private room': y[1, 2], 'Shared room': y[2,3]})
# pd.concat([df, y], axis=1)

In [ ]:
y= LabelBinarizer().fit_transform(df1.room_type)
y = pd.DataFrame({'Entire home/apt': y[:, 0], 'Hotel room': y[0, 1], 'Private room': y[1, 2], 'Shared room': y[2,3]})
pd.concat([df1, y], axis=1)

In [ ]:
fig, ax = plt.subplots(figsize=(16,8))
ax.scatter(df['minimum_nights'], df['neighbourhood'])
ax.set_xlabel('minimum nights')
ax.set_ylabel('price')
plt.show()

In [17]:
df['minimum_nights'].mean()

4.255082199045431

In [ ]:
df.describe()

In [19]:
#minimum nights has some outlier values so we removed values that were higher than 10
#we used IQR method to find out which columns have the most outlier values 
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
print(IQR)
df = df[df['minimum_nights'] <= 10]

latitude                            0.019678
longitude                           0.014590
price                              37.000000
minimum_nights                      1.000000
number_of_reviews                  41.000000
reviews_per_month                   1.380000
calculated_host_listings_count      6.000000
availability_365                  236.750000
Room_Type_Label                     0.000000
cost_per_stay                      88.000000
dtype: float64

In [20]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)
IQR = Q3 - Q1
print(IQR)
df1 = df1[df1['minimum_nights'] <= 10]

latitude                            0.019678
longitude                           0.014465
price                              38.000000
minimum_nights                      1.000000
number_of_reviews                  41.000000
reviews_per_month                   1.310000
calculated_host_listings_count      6.000000
availability_365                  223.000000
Room_Type_Label                     0.000000
cost_per_stay                      88.000000
dtype: float64

In [ ]:
df1.corr(method ='pearson')

In [22]:
df['location_price_category']=0

In [23]:
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΑΜΠΕΛΟΚΗΠΟΙ', 4,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΕΜΠΟΡΙΚΟ ΤΡΙΓΩΝΟ-ΠΛΑΚΑ',4,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΚΕΡΑΜΕΙΚΟΣ', 6,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΑΓΙΟΣ ΝΙΚΟΛΑΟΣ',5,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΠΑΓΚΡΑΤΙ',4,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΠΛΑΤΕΙΑ ΑΤΤΙΚΗΣ', 5,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΣΤΑΔΙΟ', 3,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΑΓΙΟΣ ΚΩΝΣΤΑΝΤΙΝΟΣ-ΠΛΑΤΕΙΑ ΒΑΘΗΣ', 5,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == '1Ο ΝΕΚΡΟΤΑΦΕΙΟ', 4,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΜΟΥΣΕΙΟ-ΕΞΑΡΧΕΙΑ-ΝΕΑΠΟΛΗ', 3,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΑΚΑΔΗΜΙΑ ΠΛΑΤΩΝΟΣ', 7,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΚΟΥΚΑΚΙ-ΜΑΚΡΥΓΙΑΝΝΗ', 4,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΓΟΥΒΑ', 4,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΝΕΑ ΚΥΨΕΛΗ', 4,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΚΟΛΩΝΑΚΙ', 1,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΑΝΩ ΚΥΨΕΛΗ', 4,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΒΟΤΑΝΙΚΟΣ', 7,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΑΝΩ ΠΑΤΗΣΙΑ', 4,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΝΕΟΣ ΚΟΣΜΟΣ', 5,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΠΛΑΤΕΙΑ ΑΜΕΡΙΚΗΣ', 5,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΙΛΙΣΙΑ', 4,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΘΗΣΕΙΟ', 2,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΠΕΔΙΟ ΑΡΕΩΣ', 3,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΠΕΤΡΑΛΩΝΑ', 5,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΑΚΡΟΠΟΛΗ', 2,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΓΚΥΖΗ', 4,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΠΡΟΜΠΟΝΑ', 7,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΓΟΥΔΙ', 4,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΓΚΑΖΙ', 6,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΚΟΛΩΝΟΣ', 7,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΝΙΡΒΑΝΑ', 6,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΖΑΠΠΕΙΟ', 2,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΚΥΨΕΛΗ', 4,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΛΥΚΑΒΗΤΤΟΣ', 1,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΑΓΙΟΣ ΕΛΕΥΘΕΡΙΟΣ', 5,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΠΑΤΗΣΙΑ', 4,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΕΛΛΗΝΟΡΩΣΩΝ', 3,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΠΕΝΤΑΓΩΝΟ', 2,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΡΙΖΟΥΠΟΛΗ', 5,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΠΟΛΥΓΩΝΟ', 4,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΣΕΠΟΛΙΑ', 7,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΣΤΑΘΜΟΣ ΛΑΡΙΣΗΣ', 5,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΡΙΓΗΛΛΗ', 1,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΚΟΛΟΚΥΝΘΟΥ', 7,df['location_price_category'])
df['location_price_category'] = np.where(df['neighbourhood'] == 'ΡΟΥΦ', 7,df['location_price_category'])

In [24]:
df1['location_price_category']=0

In [25]:
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΑΜΠΕΛΟΚΗΠΟΙ', 4,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΕΜΠΟΡΙΚΟ ΤΡΙΓΩΝΟ-ΠΛΑΚΑ',4,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΚΕΡΑΜΕΙΚΟΣ', 6,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΑΓΙΟΣ ΝΙΚΟΛΑΟΣ',5,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΠΑΓΚΡΑΤΙ',4,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΠΛΑΤΕΙΑ ΑΤΤΙΚΗΣ', 5,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΣΤΑΔΙΟ', 3,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΑΓΙΟΣ ΚΩΝΣΤΑΝΤΙΝΟΣ-ΠΛΑΤΕΙΑ ΒΑΘΗΣ', 5,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == '1Ο ΝΕΚΡΟΤΑΦΕΙΟ', 4,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΜΟΥΣΕΙΟ-ΕΞΑΡΧΕΙΑ-ΝΕΑΠΟΛΗ', 3,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΑΚΑΔΗΜΙΑ ΠΛΑΤΩΝΟΣ', 7,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΚΟΥΚΑΚΙ-ΜΑΚΡΥΓΙΑΝΝΗ', 4,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΓΟΥΒΑ', 4,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΝΕΑ ΚΥΨΕΛΗ', 4,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΚΟΛΩΝΑΚΙ', 1,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΑΝΩ ΚΥΨΕΛΗ', 4,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΒΟΤΑΝΙΚΟΣ', 7,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΑΝΩ ΠΑΤΗΣΙΑ', 4,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΝΕΟΣ ΚΟΣΜΟΣ', 5,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΠΛΑΤΕΙΑ ΑΜΕΡΙΚΗΣ', 5,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΙΛΙΣΙΑ', 4,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΘΗΣΕΙΟ', 2,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΠΕΔΙΟ ΑΡΕΩΣ', 3,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΠΕΤΡΑΛΩΝΑ', 5,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΑΚΡΟΠΟΛΗ', 2,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΓΚΥΖΗ', 4,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΠΡΟΜΠΟΝΑ', 7,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΓΟΥΔΙ', 4,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΓΚΑΖΙ', 6,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΚΟΛΩΝΟΣ', 7,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΝΙΡΒΑΝΑ', 6,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΖΑΠΠΕΙΟ', 2,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΚΥΨΕΛΗ', 4,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΛΥΚΑΒΗΤΤΟΣ', 1,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΑΓΙΟΣ ΕΛΕΥΘΕΡΙΟΣ', 5,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΠΑΤΗΣΙΑ', 4,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΕΛΛΗΝΟΡΩΣΩΝ', 3,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΠΕΝΤΑΓΩΝΟ', 2,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΡΙΖΟΥΠΟΛΗ', 5,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΠΟΛΥΓΩΝΟ', 4,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΣΕΠΟΛΙΑ', 7,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΣΤΑΘΜΟΣ ΛΑΡΙΣΗΣ', 5,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΡΙΓΗΛΛΗ', 1,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΚΟΛΟΚΥΝΘΟΥ', 7,df1['location_price_category'])
df1['location_price_category'] = np.where(df1['neighbourhood'] == 'ΡΟΥΦ', 7,df1['location_price_category'])

In [ ]:
df.corr(method ='pearson')

In [ ]:
df1

In [28]:
from sklearn.model_selection import train_test_split

x = df[["number_of_reviews","reviews_per_month","calculated_host_listings_count","availability_365","Room_Type_Label","cost_per_stay","location_price_category",
        "latitude","longitude"]]
y = df[["price"]]
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.9, random_state=None)

In [ ]:
x_train

In [88]:
#linear regression model for july data
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

linear_reg_model = LinearRegression().fit(x_train, y_train)
y_pred = linear_reg_model.predict(x_test)  

print("intercept: " ,linear_reg_model.intercept_)
print("coefficceiance :", linear_reg_model.coef_)

print("r2_score: ",r2_score(y_test, y_pred))
print("mean_squared_error: " ,mean_squared_error(y_test,y_pred))
# print(y_test)
# print(y_pred)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)
intercept:  [10210.61232047]
coefficceiance : [[-5.73351301e-02  4.82844244e+00  2.06729673e-01  2.45691668e-02
   1.38129890e+01  6.86535654e-01  1.40521818e+00 -1.85931533e+02
  -1.34120667e+02]]
r2_score:  0.5330580372914937
mean_squared_error:  2729.9395816786628

In [108]:
#decision tree regression for july data
from sklearn.tree import DecisionTreeRegressor

d_tree_reg_model = DecisionTreeRegressor()
d_tree_reg_model.fit(x_train,y_train)
y_pred_tree = d_tree_reg_model.predict(x_test)
print(y_test)
print(y_pred_tree)

print("mean squared error: ",mean_squared_error(y_test,y_pred_tree))
print("r2_score:" ,r2_score(y_test,y_pred_tree))

       price
756       46
3304      34
2908      39
2059      58
8358     100
...      ...
3397     140
5897      60
6954      30
10750     60
7974      48

[1097 rows x 1 columns]
[44. 69. 27. ... 30. 52. 50.]
mean squared error:  2595.982680036463
r2_score: 0.5559706683954746

In [107]:
#random forest regression for july data
from sklearn.ensemble import RandomForestRegressor

random_forest_reg_model = RandomForestRegressor(n_estimators=500, oob_score=True, random_state=0)
random_forest_reg_model.fit(x_train, y_train)
y_pred_rf = random_forest_reg_model.predict(x_test)

print("mean squared error: ",mean_squared_error(y_test,y_pred_rf))
print("r2_score:" ,r2_score(y_test,y_pred_rf))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

mean squared error:  1446.2923564229718
r2_score: 0.7526192168900734

In [105]:
print(y_test)
print(y_pred_rf)

       price
756       46
3304      34
2908      39
2059      58
8358     100
...      ...
3397     140
5897      60
6954      30
10750     60
7974      48

[1097 rows x 1 columns]
[67.834 50.374 40.054 ... 29.97  71.006 43.646]

In [109]:
X, Y= df1.iloc[:,6:13] ,df1.iloc[:,4:5]
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.9, random_state=None)

In [114]:
#regression with svr for july data
from sklearn.svm import SVR
svr_model = SVR()
svr_model.fit(x_train,y_train)
y_pred_svr = svr_model.predict(x_test)

print("mean squared error: ",mean_squared_error(y_test,y_pred_svr))
print("r2_score:" ,r2_score(y_test,y_pred_svr))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)